<h4>Are you sure you want to delete your profile?</h4>
<form action="/profile/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" style="">
</form>

<div class="delete-bar"></div>