

<div class="welcome-banner">
    Welcome.
</div>

<div class="welcome-message">
    If you are feeling brave…
</div>

<div class="login-message">
    <a href="/signup" id="signup-link">SIGN UP</a>&nbsp; or &nbsp;<a href="/login" id="login-link"> LOGIN</a>
</div>