<div class="display">
<div class="side-nav-bar">
<nav class="nav flex-sm-column">
  <a class="topnav" class="nav-link active" href="/home">Posts</a>
  <a class="topnav" class="nav-link" href="/about">About</a>
  <a class="topnav" class="nav-link" href="/list">Users</a>
  <a  class="topnav"class="nav-link" href="/profile">My Profile</a>
 <a  class="topnav"class="nav-link" href="/posts/new">New Post</a>
  <a  class="topnav"class="nav-link" href="/logout">Logout</a>
  <br>
  <form class="example" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
      <br>
    <a  class="delete-btn"class="nav-link" href="/delete">Delete Account</a>


</nav>
</div>

<form method="POST" action="/home">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="title">
  </div>
  
  <div class="form-group" method="POST" action="/posts">
    <label for="exampleFormControlTextarea1">Start writing…</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Tags</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="tags">
  </div>
  <div class="col-sm-10">
      <button class="crime-forms" type="submit" class="btn btn-primary btn-dark">Submit</button>
    </div>

</form>

</div>